babel==2.18.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
et_xmlfile==2.0.0
flatbuffers==25.12.19
h3==4.4.2
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.2
pycountry==26.2.16
pycparser==3.0
python-dateutil==2.9.0.post0
requests==2.33.1
reverse_geocoder==1.5.1
scipy==1.17.1
six==1.17.0
timezonefinder==8.2.2
urllib3==2.6.3
